/*  phpBB 3.0 Style Sheet
    --------------------------------------------------------------
	Style name:		subsilver2
	Based on style:	subSilver (the default phpBB 2 style)
	Original author:	subBlue ( http://www.subBlue.com/ )
	Modified by:		psoTFX and the phpBB team ( http://www.phpbb.com )
	
	This is an alternative style for phpBB3 for those wishing to stay with
	the familiar subSilver style of phpBB version 2.x
	
	Copyright 2006 phpBB Group ( http://www.phpbb.com/ )
    --------------------------------------------------------------
*/

/* Layout
 ------------ */
* {
	/* Reset browsers default margin, padding and font sizes */
	margin: 0;
	padding: 0;
}

html {
	font-size: 100%;
}

body {
	/* Text-Sizing with ems: http://www.clagnut.com/blog/348/ */
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	color: #323D4F;
	font-size: 82.5%; /* This sets the default font size to be equivalent to 10px */
	margin: 25px;
	background:#FFFFFF url('./images/moztw/body_back.gif') repeat-x scroll 0 0;
}


/* Moztw header & footer theme */


#header {
margin-left:2em;
margin-right:2em;
}

#header {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#455372 url('./images/moztw/header_bl.png') repeat-x scroll left bottom;
font-size:small;
height:3em;
min-height:39px;
padding:15px 0;
position:relative;
margin-bottom:1em;
}

#header h1 {
top:0px;
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url('./images/moztw/header_tl.gif') no-repeat scroll 0 0;
font-size:2px;
height:8px;
left:0;
margin:0;
position:absolute;
z-index:100;
border:0 none;
}

#header h1 a {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url('./images/moztw/header_logo2.png') no-repeat scroll 0 0;
display:block;
height:65px;
text-decoration:none;
text-indent:-700em;
width:354px;
}


#header ul {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url('./images/moztw/header_br.gif') no-repeat scroll right bottom;
bottom:0;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
padding:0 15px 0 0;
position:absolute;
right:0;
width:auto;
z-index:90;
line-height:1.5em;
}

#header ul a {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url('./images/moztw/header_tab.gif') no-repeat scroll 0 -600px;
color:#FFFFFF;
display:block;
float:left;
font-weight:bold;
padding:4px 4px 4px 10px;
text-decoration:none;
}

#header li {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url('./images/moztw/header_tab.gif') no-repeat scroll 100% -600px;
border-bottom:1px solid #515358;
float:right;
margin:0 1px 0 0;
padding:0 6px 0 0;
display:inline;
white-space:nowrap;
}

#header ul li:hover a { background-position: 0% -400px; }
#header ul li:hover { background-position: 100% -400px; }


#header form #cjk {
	font-size: 90%;
	border:	1px solid #9097A2;
	background: #D9DBE1;
	padding: 2px;
	font-family: georgia,sans-serif;
}
	
body#sectionAbout li#menu_aboutus a,
body#sectionProducts li#menu_products a,
body#sectionForum li#menu_forum a,
body#sectionWiki li#menu_wiki a,
body#sectionLinks li#menu_links a,
body#sectionDocs li#menu_docs a {
	background-position: 0% -200px;
	color: #039;
}
	
body#sectionAbout li#menu_aboutus,
body#sectionProducts li#menu_products,
body#sectionForum li#menu_forum,
body#sectionWiki li#menu_wiki,
body#sectionLinks li#menu_links,
body#sectionDocs li#menu_docs {
	background-position: 100% -200px;
	border-bottom: 1px solid #fff;
}

body#sectionAbout li#menu_aboutus:hover,
body#sectionProducts li#menu_products:hover,
body#sectionForum li#menu_forum:hover,
body#sectionWiki li#menu_wiki:hover,
body#sectionLinks li#menu_links:hover,
body#sectionDocs li#menu_docs:hover {
	background-position: 100% 0%;
}

body#sectionAbout li#menu_aboutus:hover a,
body#sectionProducts li#menu_products:hover a,
body#sectionForum li#menu_forum:hover a,
body#sectionWiki li#menu_wiki:hover a,
body#sectionLinks li#menu_links:hover a,
body#sectionDocs li#menu_docs:hover a {
	background-position: 0% 0%;
	color: #333;
}

#footer {
	border-top: 1px solid #999;
	margin: 2em 0;
	padding: 1em 0;
	text-align: center;
}

#footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#footer li {
	display: inline;
}

#footer span,#footer a {
	white-space: nowrap;
	padding: 0 0 0 1em;
}

#footer p {
	margin:0.6em 0;
	font-size:1em;
}

#footer p span,#footer p a {
	white-space: nowrap;
	padding: 0 0.3em;
}

#footer span a {
	padding: 0;
}

#footer p,#footer p a {
	color: #666;
}

#footer p a:hover {
	color: #000;
}

/* Search Field */

	#header form {
		position: absolute;
		top: 0;
		right: 0;
		padding: 12px 15px 0 0;
		background: url('./images/moztw/header_tr.gif') no-repeat top right;
		margin: 0; /* need for IE Mac */
		text-align: right; /* need for IE Mac */
		white-space: nowrap; /* for Opera */
	}
		
	#header form #submit {
		font-size: 85%;
		background: #6A7389;
		color: #fff;
		padding: 1px 4px;
		border-right: 1px solid #283043;
		border-bottom: 1px solid #283043;
		border-top: 1px solid #9097A2;
		border-left: 1px solid #9097A2;
	}
	
	#header form #q, #header form #key, #header form #search_keywords {
		width: 130px;
		font-size: 85%;
		border:	1px solid #9097A2;
		background: none #D9DBE1 !important;
		padding: 2px;
	}
	#header form #q:hover, #header form #q:focus,
	#header form #key:hover, #header form #key:focus,
	#header form #search_keywords:hover, #header form #search_keywords:focus {
		background: #fff  !important;
	}

/* End of moztw header theme */


/* Google Search Result */
#cse-search-results iframe{
	width: 90%;
}


#wrapheader {
/*	min-height: 120px; */
	height: auto !important;
	height: 120px;
/*	background-image: url('./images/background.gif');
	background-repeat: repeat-x;*/
/*	padding: 0 25px 15px 25px;*/
	padding: 0;
}

#wrapcentre {
	margin: 15px 25px 0 25px;
}

#wrapfooter {
	text-align: center;
	clear: both;
}

#wrapnav {
	width: 100%;
	margin: 0;
	background-color: #ECECEC;
	border-width: 1px;
	border-style: solid;
	border-color: #A9B8C2;
}

#logodesc {
	display: none;
	margin-bottom: 5px;
	padding: 100px 25px;
	background: #D9DFE4;
	border-bottom: 1px solid #4787A7;
}

#menubar {
	margin: 0 25px;
}

#datebar {
}

#findbar {
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

.forumrules {
	background-color: #F9CC79;
	border-width: 1px;
	border-style: solid;
	border-color: #BB9860;
	padding: 4px;
	font-weight: normal;
	font-size: 1.1em;
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

.forumrules h3 {
	color: red;
}

#pageheader h2 {
	text-shadow: 0px 1px 1px #555;
}
#pagecontent { }
#pagefooter { }

#poll { }
#postrow { }
#postdata { }


/*  Text
 --------------------- */
h1 {
	color: black;
	font-family: "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	font-weight: bold;
	font-size: 1.8em;
	text-decoration: none;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.5em;
	text-decoration: none;
	line-height: 120%;
}

h3 {
	font-size: 1.3em;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 120%;
}

h4 {
	margin: 0;
	font-size: 1.1em;
	font-weight: bold;
}

p {
	font-size: 1.1em;
}

p.moderators {
	margin: 8px 0 0;
	float: left;
	color: black;
	font-weight: bold;
}

.rtl p.moderators {
	float: right;
}

p.linkmcp {
	margin: 0;
	float: right;
	white-space: nowrap;
}

.rtl p.linkmcp {
	float: left;
}

p.breadcrumbs {
	margin: 0;
	float: left;
	color: black;
	font-weight: bold;
	white-space: normal;
	font-size: 1em;
}

.rtl p.breadcrumbs {
	float: right;
}

p.datetime {
	margin: 0;
	float: right;
	white-space: nowrap;
	font-size: 0.9em;
}

.rtl p.datetime {
	float: left;
}

p.searchbar {
	padding: 2px 0;
	white-space: nowrap;
} 

p.searchbar span {
	float:right;
	font-size: 0.9em;
} 

p.searchbarreg {
	margin: 0;
	float: right;
	white-space: nowrap;
}

.rtl p.searchbarreg {
	float: left;
}

p.forumdesc {
	padding-bottom: 4px;
}

p.topicauthor {
	margin: 1px 0;
}

p.topicdetails {
	margin: 1px 0;
}

.postreported, .postreported a:visited, .postreported a:hover, .postreported a:link, .postreported a:active {
	margin: 1px 0;
	color: red;
	font-weight:bold;
}

.postapprove, .postapprove a:visited, .postapprove a:hover, .postapprove a:link, .postapprove a:active {
	color: green;
	font-weight:bold;
}

.postapprove img, .postreported img {
	vertical-align: bottom;
}

.postauthor {
	color: #000000;
}

.postdetails {
	color: #000000;
}

.postbody {
	font-size: 1.2em;
	line-height: 1.4em;
	font-family: "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif;
}

.postbody li, ol, ul {
	margin: 0 0 0 1.5em;
}

.rtl .postbody li, .rtl ol, .rtl ul {
	margin: 0 1.5em 0 0;
}

.posthilit {
	background-color: yellow;
}

.nav {
	margin: 0;
	color: black;
	font-weight: bold;
}

.nav td{
	border: none !important;
}

.pagination {
	padding: 4px;
	color: black;
	font-size: 1em;
	font-weight: bold;
}

.cattitle {

}

.gen {
	margin: 1px 1px;
	font-size: 1.2em;
}

.genmed {
	margin: 1px 1px;
	font-size: 1.1em;
}

.gensmall {
	margin: 1px 1px;
	font-size: 1em;
}

.gentiny {
	margin: 1px 1px;
	font-size: 0.9em;
}

.copyright {
	color: #444;
	font-weight: normal;
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

.titles {
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 1.3em;
	text-decoration: none;
}

.error {
	color: red;
}


/* Tables
 ------------ */
th {
	color: #FFFFFF;
	font-size: 1.1em;
	font-weight: bold;
	background-color: #006699;
	background-image: url('./images/cellpic3.png');
	white-space: nowrap;
	padding: 7px 5px;
}

td {
	padding: 2px;
}
td.profile {
	padding: 4px;
}

.tablebg {
	background-color: #A9B8C2;
	padding: 3px;
	-moz-border-radius:7px 7px;
	-webkit-border-radius:7px 7px;
	-moz-box-shadow: 0px 1px 2px #333;
	-webkit-box-shadow: 0px 1px 2px #333;
	box-shadow: 0px 1px 2px #333;
	}

.tablebg td{
}	

.catdiv {
	border-left: 0 none !important; 
	height: 28px;
	margin: 0;
	padding: 0;
	border: 0;
	background: white url('./images/cellpic2.jpg') repeat-y scroll top left;
}
.rtl .catdiv {
	background: white url('./images/cellpic2_rtl.jpg') repeat-y scroll top right;
}

.cat {
	border-right: 0 none !important; 	
	height: 28px;
	margin: 0;
	padding: 0;
	background-color: #C7D0D7;
	background-image: url('./images/cellpic1.gif');
	text-indent: 4px;
}

.row1 {
	background-color: #ECECEC;
	padding: 4px;
	border:1px solid #A9B8C2;
}

.row2 {
	background-color: #DCE1E5;
	padding: 4px;
	border:1px solid #A9B8C2;
}

.row3 {
	background-color: #C0C8D0;
	padding: 4px;
}

.spacer {
	background-color: #D1D7DC;
}

hr {
	height: 1px;
	border-width: 0;
	background-color: #D1D7DC;
	color: #D1D7DC;
}

.legend {
	text-align:center;
	margin: 0 auto;
}

/* Links
 ------------ */
a:link {
	color: #006597;
	text-decoration: none;
}

a:active,
a:visited {
	color: #005784;
	text-decoration: none;
}

a:hover {
	color: #D46400;
	text-decoration: underline;
}

a.forumlink {
	color: #069;
	font-weight: bold;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 1.2em;
}

a.topictitle {
	margin: 1px 0;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 1.2em;
}

a.topictitle:visited {
	color: #5493B4;
	text-decoration: none;
}

th a,
th a:visited {
	color: #FFA34F !important;
	text-decoration: none;
}

th a:hover {
	text-decoration: underline;
}


/* Form Elements
 ------------ */
form {
	margin: 0;
	padding: 0;
	border: 0;
}

input {
	color: #333333;
	font-family: "Lucida Grande", Verdana, Helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	padding: 1px;
	border: 1px solid #A9B8C2;
	background-color: #FAFAFA;
}

textarea {
	background-color: #FAFAFA;
	color: #333333;
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	font-size: 1.3em; 
	line-height: 1.4em;
	font-weight: normal;
	border: 1px solid #A9B8C2;
	padding: 2px;
}

select {
	color: #333333;
	background-color: #FAFAFA;
	font-family: "Lucida Grande", Verdana, Helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	border: 1px solid #A9B8C2;
	padding: 1px;
}

option {
	padding: 0 1em 0 0;
}

option.disabled-option {
	color: graytext;
}

.rtl option {
	padding: 0 0 0 1em;
}

input.radio {
	border: none;
	background-color: transparent;
}

.post {
	background-color: white;
	border-style: solid;
	border-width: 1px;
}

.btnbbcode {
	color: #000000;
	font-weight: normal;
	font-size: 1.1em;
	font-family: "Lucida Grande", Verdana, Helvetica, sans-serif;
	background-color: #EFEFEF;
	border: 1px solid #666666;
}

.btnmain {
	font-weight: bold;
	background-color: #ECECEC;
	border: 1px solid #A9B8C2;
	cursor: pointer;
	padding: 1px 5px;
	font-size: 1.1em;
}

.btnlite {
	font-weight: normal;
	background-color: #ECECEC;
	border: 1px solid #A9B8C2;
	cursor: pointer;
	padding: 1px 5px;
	font-size: 1.1em;
}

.btnfile {
	font-weight: normal;
	background-color: #ECECEC;
	border: 1px solid #A9B8C2;
	padding: 1px 5px;
	font-size: 1.1em;
}

.helpline {
	background-color: #DEE3E7;
	border-style: none;
}


/* BBCode
 ------------ */
.quotetitle, .attachtitle {
	margin: 10px 5px 0 5px;
	padding: 4px;
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: #A9B8C2;
	color: #333333;
	background-color: #A9B8C2;
	font-size: 0.85em;
	font-weight: bold;
}

.quotetitle .quotetitle {
	font-size: 1em;
}

.quotecontent, .attachcontent {
	margin: 0 5px 10px 5px;
	padding: 5px;
	border-color: #A9B8C2;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	font-weight: normal;
	font-size: 1em;
	line-height: 1.4em;
	font-family: "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif;
	background-color: #FAFAFA;
	color: #4B5C77;
}

.attachcontent {
	font-size: 0.85em;
}

.codetitle {
	margin: 10px 5px 0 5px;
	padding: 2px 4px;
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: #A9B8C2;
	color: #333333;
	background-color: #A9B8C2;
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	font-size: 0.8em;
}

.codecontent {
	direction: ltr;
	margin: 0 5px 10px 5px;
	padding: 5px;
	border-color: #A9B8C2;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	font-weight: normal;
	color: #006600;
	font-size: 0.85em;
	font-family: Monaco, 'Courier New', monospace;
	background-color: #FAFAFA;
}

.syntaxbg {
	color: #FFFFFF;
}

.syntaxcomment {
	color: #FF8000;
}

.syntaxdefault {
	color: #0000BB;
}

.syntaxhtml {
	color: #000000;
}

.syntaxkeyword {
	color: #007700;
}

.syntaxstring {
	color: #DD0000;
}


/* Private messages
 ------------------ */
.pm_marked_colour {
	background-color: #000000;
}

.pm_replied_colour {
	background-color: #A9B8C2;
}

.pm_friend_colour {
	background-color: #007700;
}

.pm_foe_colour {
	background-color: #DD0000;
}


/* Misc
 ------------ */
img {
	border: none;
}

.sep {
	color: black;
	background-color: #FFA34F;
}

table.colortable td {
	padding: 0;
}

pre {
	font-size: 1.1em;
	font-family: Monaco, 'Courier New', monospace;
}

.nowrap {
	white-space: nowrap;
}

.username-coloured {
	font-weight: bold;
}

/* OpenID input box, as described at www.openidenabled.com */
input.openid_login {

}
#openid fieldset{
	border: 0px none;
}

